@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
      
  header {
    text-align: center;
    background: #fff;    
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .menu {
    list-style: none;
    display: flex;
    gap: 15px;
  }
 
  .menu li {
    display: inline;
  }
 
  .menu a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
  }
  
  .top-header {
    background-color: white;
    padding: 20px;
    text-align: center;
    font-size: 1.rem;
    font-weight: bold;
  }
  
  .doacao-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .causa {
    background-color: white;
    border-radius: 12px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
    text-align: center;
  }
  
  .causa h2 {
    color: #f39800;
  }
  
  .botoes {
    margin-top: 15px;
  }
  
  .botoes button {
    background-color: #f39800;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.95rem;
    transition: background-color 0.3s ease;
  }
  
  .botoes button:hover {
    background-color: #d87f00;
  }
  
  footer {
    background-color: orange;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 30px 20px;
    font-size: 14px;
  }
 
  footer .info, footer .direito, footer .social {
    flex: 1;
    margin: 10px;
  }
 

.icon_insta{
  width: 24px;
  
 
}
   .social {
    width: 24px;
    margin: 0 5px;
    display: flex;
    justify-content: center;
    gap: 10px;

  }


.social a{
  color: white;
} 
  